
<nav class="navbar navbar-default no-margin">
<div class="row">
  
  <div class="container-fluid">
  <div class="col-md-2">
    <!-- <div class="navbar-header fixed-brand" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
          <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
      </button> -->
      <img src="/images/moruwasa.png" alt="" style="height: 100px;width: 221px;">
  </div>
<div class="col-md-10">
<div class="navbar-header fixed-brand">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
      <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
  </button>
  <a class="navbar-brand" href="#" style="margin-left: 623px;color: black;margin-top: 8px;width: 223px;" ><i class="fa fa-user" style="font-size: large;color: black;"></i> <%= userName %></a>
</div><!-- navbar-header-->

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
      <li class="active">
          <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                      class="glyphicon glyphicon-th-large" aria-hidden="true" ></span></button>
      </li>
      <li class="navbar-brand">
          <form action="/logout" method="get">
              <button id="logout" type="submit" style="margin-top: -90px;margin-left: 897px;" class="btn btn-secondary"><i
                          class="fa fa-user" aria-hidden="true"></i> Logout
              </button>
          </form>
      </li>
  </ul>
</div><!-- bs-example-navbar-collapse-1 -->
</div>
</div>
</nav>
</div>