<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li>
            <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-dashboard fa-stack-1x "></i></span> Home</a>
        </li>

        <li>
            <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-dashboard fa-stack-1x "></i></span> View Training</a>
        </li>
        <li class="active">
            <a href="/employee/material"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-envelope-square fa-stack-1x "></i></span>View Resources</a>
        </li>
        <li class="active">
            <a href="/employee/requestFortraining"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-envelope-square fa-stack-1x "></i></span>Request for Training</a>
        </li>
        <li>
            <a href="/employee/uploadreport"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>
              Upload Report   </a>
        </li>
        <li data-toggle="modal" data-target="#myModal2">
            <a href="#"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-check-circle fa-stack-1x "></i></span>Review Report</a>
        </li>
        <li>
            <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
        </li>
    </ul>
</div>