<footer id="main-footer" class="bg-dark text-white mt-4 p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p style="float: left;margin-top: 12px;">you login as <%=userName%> 
        </p>
            <h3 class="lead text-center">MORUWASA</br>Leave Management System </h3>
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
             Lams
          </p>
        </div>
      </div>
    </div>
  </footer>