<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li>
            <a href="/admin/dashboardtraining"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
        </li>

        <li>
            <a href="/admin/viewTrainingrequest"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-dashboard fa-stack-1x "></i></span>view Training application </a>
        </li>
        <li class="active">
            <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-envelope-square fa-stack-1x "></i></span>Report</a>
        </li>
        <li class="active">
            <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-envelope-square fa-stack-1x "></i></span>Manage Training</a>
        </li>
        <li>
            <a href="/admin/viewuploadedreport"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>
              View Training Report   </a>
        </li>
        <li data-toggle="modal" data-target="#myModal2">
            <a href="/admin/upload"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-check-circle fa-stack-1x "></i></span>Upload resources</a>
        </li>
        <li>
            <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
        </li>
    </ul>
</div>