

<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li>
            <a href="/manager"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-home "></i></span>Home</a>
        </li>
        <li>
            <a href="/manager/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
        </li>
        <li>
            <a href="/manager/view-employees">
                <button type="submit" style="background: transparent; border: transparent;"><i
                            class="fa fa-users fa-lg " aria-hidden="true"></i> View Employees
                </button>
            </a>
        </li>
        <li>
            <a href="/manager/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
        </li>
        <li data-toggle="modal" data-target="#myModal">
            <a href="/manager/leave-applications"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>View
                Application</a>
        </li>
       
        <li>
            <a href="/manager/view-profile"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
        </li>
    </ul>
</div>